@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: auto;
    position: relative;
    max-width: 1440px;
    /* border: 1px solid black; */
}
header {
    /* border: 1px solid black; */
    width: 100%;
}
.navigation {
    display:flex;
    margin: 27.07px 0px 27.07px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 80px;
    font-family: 'Homemade Apple', cursive;
    width: 41px;
    height: 39px;
    /* border: 1px solid black; */
}
.links {
    display: flex;
    font-family: 'Questrial', sans-serif;
}
.link:nth-child(n+2){
    margin-left: 31px;
}
.get {
    width: 150px;
    height: 43.5px;
    margin-right: 34px;
    font-size: 18px;
    background-color: white;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
}
.hero_side {
    background-color: #F1F1F2;
    /* border: solid black; */
    display: flex;
    justify-content: space-between
}
.hero_side_content {
    display: flex;
    width: 411px;
    margin: 154px 0px 0px 162px;
    flex-direction: column;
}
.hero_side_text_1 {
    font-family: 'Questrial', sans-serif;
    font-size: 56px;
    text-align: left;
    line-height: 69px;
    font-weight: 900;
}
.hero_side_text_2 {
    margin-top: 36px;
    font-family: 'Questrial', sans-serif;
    line-height: 28.13px;
    font-size: 20px;
}
.find {
    width: 200px;
    height: 43.5px;
    margin-top: 52px;
    font-size: 18px;
    background-color: #F7941E;
    color: #ffff;
    border: 1px solid #F7941E;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
}
